/* You can add global styles to this file, and also import other style files */


html, body {
    height: 100%;
    background: #f3f3f3 !important;
    box-sizing: border-box;
}

.bg{
    background: #f3f3f3;
}

.spinner{
    width: 3rem !important; 
    height: 3rem !important;
}

.card-content {
    width: 960px;
}

