<form (ngSubmit)="onSubmit()">
    <div class="row no-gutters">
        <div class="col-4">
            <div class="form-group">
                <label for="filterBy">Search By:</label>
                <select class="form-control" name="filterBy" [(ngModel)]="filter.searchBy">
                    <option selected>Select one</option>
                    <option *ngFor="let item of filterBy"  [value]="item">{{ item }}</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
              <label for="value">Name</label>
              <input type="text" class="form-control" name="value" [(ngModel)]="filter.value" aria-describedby="search" placeholder="Enter a value for your search...">
            </div>
        </div>
        <div class="col-4 align-self-end">
            <button type="submit" name="fiter" class="btn btn-primary w-100">Filter</button>
        </div>
    </div>
</form>

